<h2>Add a Review</h2>
<form id="add" method="POST" action="">
    Name: <input type="text" name="petName"/><br>
    Photo: <input type="text" name="petPhoto"/><br>
    Category: <select name="petCategory">
        <option value="Cat">Cat</option>
        <option value="Dog">Dog</option>
        <option valie="Other">Other</option>
    </select><br>
    Age: <input type="number" name="petAge"/><br>
    <input type="submit">
</form>