<!DOCTYPE html>
<head>

</head>
<body>
    <h1>Raising Pets Online!</h1>
    <nav>
        <ul>
            <li><a href="http://linserv1.cims.nyu.edu:21979">home</a></li>
            <li><a href="http://linserv1.cims.nyu.edu:21979/add">add</a></li>
        </ul>
    </nav>
    <div>{{{ body }}}</div>
</body>